body
{
    text-align: center;
    font-family: Arial;
    min-width: 900px;
    margin: 0px;
    padding: 0px;
}
.article
{
    width: 350px; 
    overflow:auto; 
    background: rgba(24, 27, 29, 0.699); 
    color: white;
    display: inline-block;
}
.article2
{
    margin: auto; 
    width: 940px; 
    background-color: rgba(24, 27, 29, 0.699);
    color: white;
    text-align: left;
}
.tc 
{
    padding: 10px;
}
.linkcollection
{
    background: transparent;
}
.linkcollection a 
{
    text-align: center; 
    padding: 0px 10px;
}
.linkcollection img
{
    height: 50px; 
    width: 50px; 
    padding: 5px; 
    vertical-align: middle; 
}
h1
{
    padding: 10px;
}
.menubar
{
    background: rgba(17, 18, 19, 0.4);
    width: 60%;
    margin: auto;
    color: #ffffff;
}
.terminatorbar
{
    height: 10px; 
    width: 100%; 
    background: rgb(59, 123, 158);
}
.splitterbar
{
    height: 10px; 
    width: 100%; 
    background: rgba(0, 0, 0, 0.534);  
}
.header
{
    text-align: center;
    width: 900px;
    height: 180px;
    padding: 40px 0px;
    margin: auto;
    color: #ffffff;
}
.image
{
    height: 375px; 
    width: 350px; 
    padding: 10px
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
}
li 
{
    display: inline-block;
}
li a 
{
    opacity: 1;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    border: solid 2px rgba(255,255,255,0);

    -webkit-transition: 0.2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: 0.2s;
    transition-timing-function: linear;
}
li div
{
    height: 10px; 
    width: 0%;
    background-color: rgba(255, 255, 255, 0.43);
    margin: auto;
    padding: 0;

    -webkit-transition: 0.2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: 0.2s;
    transition-timing-function: linear;
}
li a:hover
{
    background-color: rgba(255, 255, 255, 0.18);
}
li a:hover + div
{
    width: 100%;
}
.background-wrap 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.video-bg-elem 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}







.button 
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.ti
{
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    -webkit-transition: 0.2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: 0.2s;
    transition-timing-function: linear;
    
}
.ti:focus
{
    width: 90%;
}

.medias a
{
    opacity: 1;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    border: solid 2px rgba(255,255,255,0);
}

.medias div
{
    height: 10px; 
    width: 0%;
    background-color: rgba(255, 255, 255, 0.43);
    margin: auto;
}
.medias a:hover
{
    background-color: rgba(255, 255, 255, 0.18);
}
.medias a:hover + div
{
    width: 100%;
}


.text
{
    font-size: 20px;
    font-weight: 200;
}
.newsdate
{
    font-size: 20px;
    font-weight: 200;
    padding: 4px;
}
.newsheader
{
    font-size: 30px;
    font-weight: 600;
    padding: 4px;
}
.newssubheader
{
    font-size: 20px;
    font-weight: 100;
    padding: 4px;
}
.news
{
    text-align: left;
}









::-webkit-scrollbar 
{
    width: 0px;
    
}
::-webkit-scrollbar-track 
{

}
::-webkit-scrollbar-thumb 
{

}