body
{
    text-align: center;
    font-family: Arial;
    min-width: 900px;
    margin: 0px;
    padding: 0px;
}
.article
{
    width: 350px; 
    overflow:auto; 
    background: rgba(101, 199, 255, 0.4); 
    color: white;
    display: inline-block;
}
.menubar
{
    background: rgba(101, 199, 255, 0.4);
    width: 60%;
    margin: auto;
    color: #ffffff;
}
.bluebar
{
    height: 10px; 
    width: 100%; 
    background: rgb(75, 151, 192);
}
.header
{
    text-align: center;
    width: 900px;
    height: 180px;
    padding: 40px 0px;
    margin: auto;
    color: #ffffff;
}
.articlespace
{
    padding: 0px 20px; 
}
.image
{
    height: 375px; 
    width: 350px; 
    padding: 10px
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
}
li 
{
    display: inline-block;
}
li a 
{
    opacity: 1;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    border: solid 2px rgba(255,255,255,0);

    -webkit-transition: 0.2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: 0.2s;
    transition-timing-function: linear;
}
li div
{
    height: 10px; 
    width: 0%;
    background-color: rgba(255, 255, 255, 0.43);
    margin: auto;

    -webkit-transition: 0.2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: 0.2s;
    transition-timing-function: linear;
}
li a:hover
{
    background-color: rgba(255, 255, 255, 0.18);
}
li a:hover + div
{
    width: 100%;
}
.background-wrap 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.video-bg-elem 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



::-webkit-scrollbar 
{
    width: 0px;
    
}
::-webkit-scrollbar-track 
{

}
::-webkit-scrollbar-thumb 
{

}